In [54]:
def bubbleSort(array):
    # Write your code here.
    isSorted = False
    while not isSorted:
        isSorted = True
        for i in range(len(array)-1):
            first = array[i]
            second = array[i+1]
            print(f'i = {i} first = {first}, second = {second}')

        # make a swap
            if first > second:
                isSorted = False
                print(array)
                array[i] = second
                array[i+1] = first
                print('swap made')
                print(array)
                print('\n')  
                
    return array

In [55]:
bubbleSort([1,12,13,2,3,1,3,10])

i = 0 first = 1, second = 12
i = 1 first = 12, second = 13
i = 2 first = 13, second = 2
[1, 12, 13, 2, 3, 1, 3, 10]
swap made
[1, 12, 2, 13, 3, 1, 3, 10]


i = 3 first = 13, second = 3
[1, 12, 2, 13, 3, 1, 3, 10]
swap made
[1, 12, 2, 3, 13, 1, 3, 10]


i = 4 first = 13, second = 1
[1, 12, 2, 3, 13, 1, 3, 10]
swap made
[1, 12, 2, 3, 1, 13, 3, 10]


i = 5 first = 13, second = 3
[1, 12, 2, 3, 1, 13, 3, 10]
swap made
[1, 12, 2, 3, 1, 3, 13, 10]


i = 6 first = 13, second = 10
[1, 12, 2, 3, 1, 3, 13, 10]
swap made
[1, 12, 2, 3, 1, 3, 10, 13]


i = 0 first = 1, second = 12
i = 1 first = 12, second = 2
[1, 12, 2, 3, 1, 3, 10, 13]
swap made
[1, 2, 12, 3, 1, 3, 10, 13]


i = 2 first = 12, second = 3
[1, 2, 12, 3, 1, 3, 10, 13]
swap made
[1, 2, 3, 12, 1, 3, 10, 13]


i = 3 first = 12, second = 1
[1, 2, 3, 12, 1, 3, 10, 13]
swap made
[1, 2, 3, 1, 12, 3, 10, 13]


i = 4 first = 12, second = 3
[1, 2, 3, 1, 12, 3, 10, 13]
swap made
[1, 2, 3, 1, 3, 12, 10, 13]


i = 5 first = 12, second = 10
[1, 2, 3, 1, 3, 12, 10, 13]
swap made
[1, 2, 3, 1, 3, 10, 12, 13]


i = 6 first = 12, second = 13
i = 0 first = 1, second = 2
i = 1 first = 2, second = 3
i = 2 first = 3, second = 1
[1, 2, 3, 1, 3, 10, 12, 13]
swap made
[1, 2, 1, 3, 3, 10, 12, 13]


i = 3 first = 3, second = 3
i = 4 first = 3, second = 10
i = 5 first = 10, second = 12
i = 6 first = 12, second = 13
i = 0 first = 1, second = 2
i = 1 first = 2, second = 1
[1, 2, 1, 3, 3, 10, 12, 13]
swap made
[1, 1, 2, 3, 3, 10, 12, 13]


i = 2 first = 2, second = 3
i = 3 first = 3, second = 3
i = 4 first = 3, second = 10
i = 5 first = 10, second = 12
i = 6 first = 12, second = 13
i = 0 first = 1, second = 1
i = 1 first = 1, second = 2
i = 2 first = 2, second = 3
i = 3 first = 3, second = 3
i = 4 first = 3, second = 10
i = 5 first = 10, second = 12
i = 6 first = 12, second = 13

[1, 1, 2, 3, 3, 10, 12, 13]

In [52]:
def bubbleSort(array):
    # Write your code here.
    for i in range(len(array)-1):
        swaps = 1
        first = array[i]
        second = array[i+1]
        print(f'i = {i} first = {first}, second = {second}')

In [53]:
bubbleSort([0,1,2,3,4,5])

i = 0 first = 0, second = 1
i = 1 first = 1, second = 2
i = 2 first = 2, second = 3
i = 3 first = 3, second = 4
i = 4 first = 4, second = 5

# 3

### К домашнему заданию, задача 2
Дана статистика услуг перевозок клиентов компании по типам:
- rzd - железнодорожные перевозки
- auto - автомобильные перевозки
- air - воздушные перевозки
- client_base - адреса клиентов

In [56]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
rzd

NameError: name 'pd' is not defined

In [ ]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
auto

In [ ]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air

In [ ]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
client_base