In [1]:
import pandas as pd

In [2]:
pd.read_clipboard()

    Number  Year Club  Maths
0      223  2015    A     96
1      435  2017    A     93
2      278  2016    A     92
3      454  2017    A     92
4      451  2017    A     89
5      326  2016    A     88
6      214  2015    A     87
7      365  2016    A     79
8      323  2016    A     79
9      251  2015    A     77
10     410  2017    A     77
11     410  2017    A     77
12      33  2013    A     74
13      84  2014    A     73
14     119  2014    A     72
15     165  2014    A     66
16     308  2016    A     43
17     230  2015    R     93
18      69  2013    R     91
19     429  2017    R     91
20     497  2017    R     89
21     545  2017    R     82
22      26  2013    R     79
23      50  2013    R     77
24      10  2013    R     75
25     338  2016    R     75
26     448  2017    R     74
27     286  2016    R     72
28     109  2014    R     44
29     109  2014    R     44

In [3]:
?pd.read_csv