In [1]:
import pandas as pd

In [2]:
log = pd.read_csv('visit_log.csv', sep = ';')
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [3]:
log.traffic_source.unique()

array(['yandex', 'direct', 'paid', 'email', 'google'], dtype=object)

In [4]:
log.traffic_source.isin(['yandex', 'google'])

0         True
1        False
2         True
3         True
4         True
         ...
18933    False
18934    False
18935     True
18936    False
18937    False
Name: traffic_source, Length: 18938, dtype: bool

In [5]:
def traffic(row):
    source = row.traffic_source
    
    if row.traffic_source in ['yandex', 'google']:
        return 'organic'
    elif row.traffic_source in ['paid', 'email']:
        if row.region == 'Russia':
            return 'ad'
        else:
            return 'other'
    else:
        return source

In [8]:
%%time

log['source_type'] = log.apply(traffic, axis = 1)

CPU times: user 793 ms, sys: 4.62 ms, total: 798 ms
Wall time: 799 ms

In [9]:
log['source_type'] = log.loc[traffic, :]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [33]:
urls = pd.read_csv('URLs.txt')
urls.loc[5:10]

                                                  url
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
8                                           /science/
9                                             /sport/
10  /middleeast/36131117-divizion-s-400-ne-zametil...

In [41]:
urls.loc[urls['url'].str.contains(r'/\d{8}-')]

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

### Домашнее задание 3
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [43]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})
data

                 keyword   shows
0    курс гривны к рублю  125076
1        доллары в рубли  114173
2  100 долларов в рублях   97534
3             курс рубля   53546

In [45]:
from pymystem3 import Mystem

In [46]:
m = Mystem()

In [55]:
data['lemmas'] = data.keyword.apply(lambda words: ''.join(m.lemmatize(words)).strip())

In [56]:
data

                 keyword   shows               lemmas
0    курс гривны к рублю  125076  курс гривна к рубль
1        доллары в рубли  114173       доллар в рубль
2  100 долларов в рублях   97534   100 доллар в рубль
3             курс рубля   53546           курс рубль

In [ ]:
data['lemmas'] = data.keyword.apply(lambda words: ''.join(m.lemmatize(words)).strip())